[submodule "thirdparty/libtmt"]
	path = thirdparty/libtmt
	url = https://github.com/deadpixi/libtmt.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
